@page "{id:min(1)}"
@model EditarUsuarioModel

@{
    
}

<h1>Editar</h1>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>Nome</label>
                @Html.TextBoxFor(x => x.Usuario.Nome, new { @class = "form-control"})
            </div>
        </div>
    </div>
    <h4 class="mt-4">Dados de Contato</h4>
    <hr>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>Email</label>
                @Html.TextBoxFor(x => x.Usuario.Contato.Email, new { @class = "form-control"})
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label>Telefone</label>
                @Html.TextBoxFor(x => x.Usuario.Contato.Telefone, new { @class = "form-control"})
            </div>
        </div>
    </div>
    <h4 class="mt-4">Dados de Locais Consulta</h4>
    <hr>
    <div class="d-flex flex-column">
        @{
            var lista = Model;
        }
    </div>
    <div class="d-flex justify-content-between align-items-center mt-3">
            @Html.ActionLink("Voltar", "Index")
        <input type="submit" class="btn btn-success" value="Alterar">
    </div>
}